<mat-card>
  <form (ngSubmit)="addTodo($event)" #f="ngForm">
    <mat-form-field style="width: 100%">
      <input type="text" matInput [(ngModel)]="todo.title" name="text" placeholder="Title" required>
    </mat-form-field>
    <button mat-raised-button type="submit" [disabled]="f.invalid">Add</button>
  </form>
</mat-card>
<ng-container *ngIf="loading then loadingContent else mainContent"></ng-container>
<ng-template #loadingContent>
  <h1>Loading</h1>
  <mat-progress-spinner></mat-progress-spinner>
</ng-template>
<ng-template #mainContent>
  <mat-card>
    <mat-card-title>Todos</mat-card-title>
    <div *ngFor="let t of todos">
      <h3>{{t.title}}</h3>
      <mat-slide-toggle [(ngModel)]="t.done" (change)="toggleTodo($event,t)"></mat-slide-toggle>
      <button color="warn" style="width:100%" mat-raised-button (click)="deleteTodo($event,t)">Delete todo</button>
    </div>
  </mat-card>
</ng-template>
